{
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:react-hooks/recommended"],
  "plugins": ["react", "react-hooks", "@stylistic" ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error",
    "allowImportExportEverywhere": 0,
    "react/prop-types": "off",
    "@stylistic/indent": ["error", 2, { "SwitchCase": 1 }],
    "@stylistic/quotes": ["error", "double"],
    "@stylistic/no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0, "maxBOF": 0}],
    "@stylistic/array-bracket-spacing": ["error", "never"],
    "@stylistic/brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "@stylistic/jsx-quotes": ["error", "prefer-double"]
  }
}