@import 'variables';

.bubbles__container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 0.625rem;

  @media (max-width: 1000px) {
    flex-direction: column;
  }
}

.skills__list {
  list-style-type: none;
  padding: 0;
  // margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  gap: 0.25rem;
  li {
    padding: .5rem .625rem;
    border: 1px solid $color-text-900;
    background-color: $color-light;
  }
}

.detail__fieldset:has(.skills__list) {
  border: none;
  background-color: transparent;
  margin-bottom: 1rem;
  .detail__legend {
    border-bottom: 1px solid $color-text-900;
    padding-bottom: 0;
    margin-bottom: 5px;
  }
}

.project__list {
  list-style-type: none;
  padding: 0 0.625rem 0;
}

.contact__list {
  list-style-type: none;
  padding: 0 0.625rem 0;
}

.about__text {
  // background-color: $color-text-500;
  padding: 0 0.938rem 0;
}

li {
  margin-bottom: .35rem;
}

p {
  line-height: 1.35;
}