@import "variables";

.button__primary {
  border-style: none;
  background-color: $color-button;
  color: $color-text;
  border-radius: 1.875rem;
  border: 2px solid $color-text-900;
  padding: 0.625rem 1.25rem;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 0.938rem;
  margin-bottom: 1.563rem;
  transition: all .5s ease;
  cursor: pointer;
  text-decoration: none;
  display: block;
  max-width: 13rem;
  margin-inline: auto;
  text-align: center;

  &:hover {
    background-color: $color-button-hover;
    color: $color-text;
    box-shadow: 3px 5px $color-text-900;
  }

  &:active {
    background-color: $color-button-active;
    color: $color-text;
    box-shadow: 1px 3px $color-text-900;
  }
}

a {
  color: $link-color;
  font-weight: bold;
  &:hover {
    color: $link-color-hover;
  }
  &:active {
    color: $link-color-active;
  }
}