@import "variables";

.header {
  position: sticky;
  top: 0;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 3px solid $color-secondary;
  padding: 2rem;
  padding-block: 1rem;
  margin-bottom: 1.5rem;

  .search__input {
    margin-left: auto; 
  }

  .nav__link {
    color: $color-text-900;
    text-decoration: none;
    margin-left: auto; 
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.main__title {
  @media (max-width: 768px) {
    margin-bottom: 0;
  }
}

.main__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 0.938rem;

  @media screen and (min-width: 768px) {
    row-gap: 1rem;
  }

}