@import './_variables.scss';

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;

  form {
    display: flex; 
    flex-direction: column;
    max-width: 20rem;
    margin: 0 auto;
    padding: 2rem 5rem;
    background-color: $color-primary-200;
    border: 1px solid $color-secondary;
    border-radius: 4px;
    box-shadow: 3px 5px $color-secondary;

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $color-text;
      font-weight: 500;
    }
    
    input {
      display: block;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: $color-text;
    }
    
    button {
      margin-top: 2rem;
      padding: 0.6rem 2.5rem;
      color: $color-text;
      border: none;
    }
  }
}
