@import './_variables.scss';

.login-form {
  .login-title {
    text-align: center;
    margin-bottom: 3rem;
    color: $color-text;
    font-size: 3rem;
    font-weight: 600;
  }
  form {
    display: flex; 
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;
    padding: 3rem 6rem;
    background-color: $color-primary-200;
    border: 2px solid $color-secondary;
    border-radius: 4px;
    box-shadow: 3px 5px $color-secondary;

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $color-text;
      font-weight: 600;
    }
    
    input {
      display: block;
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 2px solid $color-secondary;
      border-radius: 4px;
      color: $color-text;
    }
    
    button {
      margin-top: 3rem;
      padding: 0.6rem 2.5rem;
      color: $color-text;
      font-size: 1.2rem;
      border: 2px solid $color-secondary;
    }

    .login-link {
      padding: 1rem 2rem;
      text-align: center;
      color: $color-text;
      font-size: 1.2rem;
      font-weight: 600;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
