$color-primary: #FFFA72;
$color-primary-200: #FBFCD3;
$color-secondary: #000000;
$color-light: #ffff;
$color-text: #000000;
$color-text-500: #808080;
$color-text-700: #6f6f6f;
$color-text-900: #191919;
$color-title: #000000;
$color-subtitle: #6F3BFF;
$color-button: #C6A4FA;
$color-button-hover: #B38FF2;
$color-button-active: #C39EFF;
$detail-heading: #5754FF;
$link-color: #9148FF;
$link-color-hover: #6F3BFF;
$link-color-active: #4C2EFF;